.app {
  display: flex;
  gap: 20px;
  border: 2px solid black;
}

.display {
  background: lightgray;
}

.btn-wrap {
  border: 2px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background: grey;
}