.app {
  display: flex;
  gap: 20px;
  /*border: 2px solid black;*/
}

.app > div {
  border: 2px solid blue;
  border-radius: 15px;
  padding: 10px;
}

.display {
  background: lightgray;
}

.btn-wrap {
  /*border: 2px solid black;*/

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn {
  background: grey;
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-display {
  /*min-width: 40vw;*/
  /*min-height: 40vh;*/
}

.set-display {
  display: flex;
  flex-direction: column;
}

.input {
  border:  1px solid blue;
}

.input-error {
  border: 2px solid red;
}

.error {
  color: red;
}