#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 1.3rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app {
  display: flex;
  gap: 50px;
  color: white;
}

.counter, .input-panel{
  border: 3px solid var(--border-color);
  border-radius: 20px;
  background: rgba(240, 240, 240, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  padding: 10px
}

.display {
  background: #9E82AA;
  width: 100%;
  height: 80px;
  border-radius: 20px;
  border: 3px solid var(--border-color);
  opacity: 0.7;

  display: grid;
  place-items: center;
}

.red {
  color: #b61942;
}

.input-panel {
  display: flex;
  flex-direction: column;
}

label {
  color: var(--dark-font);
  font-weight: 400;
}

.input {
  border: 3px solid var(--border-color);
  border-radius: 20px;
  text-align: center;
  background: #9E82AA;
  opacity: 0.7;
}

.input-error {
  border: 3px solid #b61942;
  background: rgba(173, 78, 78, 0.3);
  color: #b61942;
}

label {
  display: flex;
  gap: 10px
}

.btn-wrap {
  width: 100%;
  border: 3px solid var(--border-color);
  border-radius: 20px;

  display: flex;
  gap: 20px;

  padding: 10px;
}

.btn-wrap:has(>button:only-child) {
  justify-content: center;
}

.btn {
  font-weight: bold;
  border-radius: 20px;
  background:  var(--btn-color);
  opacity: 0.8;
  color: var(--dark-font);
  transition: 0.4s ease;
}

.btn:disabled {
  cursor: default;
  pointer-events: none;
  background: #9E82AA;
  opacity: 0.5;
}

.btn:hover {
  background: #A45B6A;
}

